{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Replicable Model A-Z<span class="font-small"><br>/atoz/index.asp</span></h1>

			<ul class="list">
        <li>Select <a href="atoz-uc">Guidance A to Z page</a></li>
        <hr>
        <li>Select a content link</li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
