{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Questions, Suggestions and Issue resolution<span class="font-small"><br>/dlc/index.asp</span></h1>

			<ul class="list">
        <li>Select <a href="dlc01">DLC01: Business Issues Resolution via Continuous Improvement and Learning team</a></li>
        <hr>
        <li>Download: The Issues Escalation template (DWP_T863196.pdf)</li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
