{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DCL:01 Continuous Improvement and Learning Process<span class="font-small"><br>/DLC/DWP_T863351.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="#">CIL Process</a></li>
        <hr>
        <li>Download: CIL Escalation template (DWP_T863196.pdf)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
