{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DE:02 Review H & S Risk Assessment (WSD)<span class="font-small"><br>/site-preperation/DWP_S267622.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="#">UC Risk Assessment guidance</a></li>
        <hr>
        <li>Download: UC Health and Safety Impact Assessment form (DWP_S267621.xls)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
