{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DE:03 Local trade union engagement<span class="font-small"><br>/site-preperation/DWP_S267624.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Download: Baselined trade union consultation document (DWP_S267623.doc)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
