{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DE:04 Site requirements visit<span class="font-small"><br>/site-preperation/DWP_S267710.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Download: UC Environment Guide Service Centre (DWP_T865677.pdf)</li>
        <hr>
        <li>Download: UC Environment Guide Jobcentre (DWP_T865678.pdf)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
