{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DE:05 Review and Update Operational Activities<span class="font-small"><br>/site-preperation/DWP_T863034.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Send an email via link</li>
        <hr>
        <li>Select <a href="#">How to update Staff Directory</a></li>
        <hr>
        <li>Select <a href="#">ABM Homepage</a></li>
        <hr>
        <li>Select <a href="#">FIND Homepage</a></li>
        <hr>
        <li>Select <a href="technow">Technow Homepage</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
