{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DE:09 Establishing strong working relationships between UC full service sites and Service Centres<span class="font-small"><br>/site-preperation/DWP_T861502.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
