{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DIT:01 UC full service data capture<span class="font-small"><br>Screen</span></h1>

			<ul class="list">
        <li>Select <a href="home">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select email link [[x3]]</li>
        <hr>
        <li>Download spreadsheet [[x4]]</li>
        <hr>
        <li>Select <a href="user-access">User access control policy</a></li>
        <hr>
        <li>Select <a href="dit02">DIT02 Confirm access to UC full service systems and applications</a></li>
        <hr>
        <li>Select <a href="technow">Technow home page</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
