{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DIT:02 Confirm access to UC full service system mailboxes and folders<span class="font-small"><br>/system-access/DWP_T859511.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="user-access">DIT01 UC full service data capture [[x2]]</a></li>
        <hr>
        <li>Send an email via link</li>
        <hr>
        <li>Select <a href="user-access">User access control policy</a></li>
        <hr>
        <li>Select <a href="technow">Technow home page</a></li>
        <hr>
        <li>Download: UC full system access matrix (DWP_T866268.xls)</li>
        <hr>
        <li>Select <a href="det03">DET03 Confirm telephony access</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
