{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DIT:02 Access to management information<span class="font-small"><br>/management-information/index.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Send an email via link</li>
        <hr>
        <li>Select <a href="user-access">User access control policy</a></li>
        <hr>
        <li>Download: MI Reports (DWP_T867741.xls)</li>
        <hr>
        <li>Download: MI Access Form (DWP_T867744.xls)</li>
        <hr>
        <li>Download: Information Builders WebFOCUS User Guide (DWP_T867744.pdf)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
