{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DLP:01 Leadership event 1<span class="font-small"><br>/leadership/DWP_S266598.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="leadership-product-list">the leadership event product list</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
