{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DO:01 Identification and notification of staff<span class="font-small"><br>/workfoce/DWP_T851643.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="">accessing the DDP</a></li>
        <hr>
        <li>Download: Job role description for Case Manager (DWP_T851638.doc)</li>
        <hr>
        <li>Download: Job role description for Decision Maker (DWP_T851639.doc)</li>
        <hr>
        <li>Download Job role description for Demand Management Officer (DWP_T851640.doc)</li>
        <hr>
        <li>Download Job role description for Work Service Manager (DWP_S267692.doc)</li>
        <hr>
        <li>Download Job role description for Work Coach (DWP_S267693.doc)</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
