{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DPP:03 Undertake leanring and development<span class="font-small"><br>/people-preperation/DWP_S267691</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="ucds-learning">UC full service learning journeys</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
