{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DPS:06 Local Authority Support Pack and Business Readiness Certificate<span class="font-small"><br>/stakeholder/DWP_T852929.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="#">LA Support Pack</a></li>
        <hr>
        <li>Download: UC full service Business Readiness Certificate (DWP_T862005.doc)</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
