{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DPS:01 Renegotiation of delivery partnership<span class="font-small"><br>Screen</span></h1>

			<ul class="list">
        <li>Select <a href="home">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="dps04">DPS04 Data sharing agreement</a></li>
        <hr>
        <li>Download word document [[x4]]</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
