{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DPS:01 Renegotiation of delivery partnership<span class="font-small"><br>/stakeholder/DWP_T852499.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="dps04">DPS04 Data sharing agreement</a></li>
        <hr>
        <li>Download: Delivery partnership covering note (DWP_T852493.doc)</a></li>
        <hr>
        <li>Download: Delivery partnership template English (DWP_T852494.doc)</a></li>
        <hr>
        <li>Download: Delivery partnership template Welsh (DWP_T852495.doc)</a></li>
        <hr>
        <li>Download: Delivery partnership template Scottish (DWP_T852496.doc)</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
