{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">DPS:02 Engage with delivery partners and stakeholders<span class="font-small"><br>/stakeholder/DWP_T852928.asp</span></h1>

			<ul class="list">
        <li>Select <a href=".">site implementation plan</a></li>
        <hr>
        <li>Follow instructions</li>
        <hr>
        <li>Select <a href="#">External stakeholder engagement event products</a></li>
        <hr>
        <li>Download: <a href="#">example external stakeholder engagement plan (DWP_T852927.doc)</a></li>
        <hr>
        <li>Select <a href="#">Local support services framework</a></li>
        <hr>
        <li>Select <a href="#">The daily jobseeker website</a></li>
        <hr>
        <li>Select <a href="#">UC local support services update and training plan</a></li>
        <hr>
        <li>Select <a href="#">UC partnership resource centre</a></li>
        <hr>
        <li>Select <a href="#">UC toolkit for partner organisations</a></li>
        <hr>
        <li>Select <a href="#">DWP operational stakeholder engagement forum</a></li>
        <hr>
        <li>Select <a href="#">Q&A process</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
