{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Shared folder<span class="font-small"><br>Explorer/finder window</span></h1>

			<ul class="list">
				<li><a href="password">Open spreadsheet</a></li>
        <hr>
        <li>Explore folder structure</li>
        <hr>
        <li><a href="home">Close window</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
