{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">UC Full Service Guidance Home<span class="font-small"><br>/guidance/index.asp</span></h1>

			<ul class="list">
        <li>Email DWP UC Digital Guidance Team</li>
        <hr>
        <li>Select <a href="cil">Continuious Improvement and Learning Team</a></li>
        <hr>
        <li>Select an amended guidance link</li>
        <hr>
        <li>Select <a href="atoz-uc">Follow this link to access the A to Z</a></li>
        <hr>
        <li>Select <a href="#">Access the meaning of terms list</a></li>
        <hr>
        <li>Select <a href="#">Guidance Released Homepage</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
