{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Digital implementation instruction list for a Jobcentre currently delivering UC live service<span class="font-small"><br>/DWP_T858292.asp</span></h1>

			<ul class="list">
        <li>Back to <a href=".">home page</a></li>
        <hr>
        <li>Select <a href=".">site delivery plan</a></li>
        <hr>
        <li>Conduct site start-up meeting</li>
        <hr>
        <li>Select <a href="dlp01">DLP01 Leadership event 1</a></li>
        <hr>
        <li>Select <a href="do01">DO01 Identification and notification of staff</a></li>
        <hr>
        <li>Select <a href="dpp01">DPP01 Complete learning needs analysis</a></li>
        <hr>
        <li>Select <a href="de03">DE03 Local trade union engagement</a></li>
        <hr>
        <li>Select <a href="de04">DE04 Sites requirements visit (visual identity)</a></li>
        <hr>
        <li>Select <a href="dps01">DPS01 Renegotiation of delivery partnership</a></li>
        <hr>
        <li>Select <a href="dpp02">DPP02 Develop and manage a learning and development plan</a></li>
        <hr>
        <li>Select <a href="dpp03">DPP03 Undertake learning and development</a></li>
        <hr>
        <li>Select <a href="dps04">DPS04 Data sharing agreement</a></li>
        <hr>
        <li>Select <a href="dit01">DIT01 Data capture</a></li>
        <hr>
        <li>Select <a href="dps02">DPS02 Engage with delivery partners and stakeholders and welfare rights groups and social landlords</a></li>
        <hr>
        <li>Select <a href="dps03">DPS03 Engage with employers</a></li>
        <hr>
        <li>Select <a href="de01">DE01 Review site business continuity plan</a></li>
        <hr>
        <li>Select <a href="de02">DE02 Review site H&S risk assesment</a></li>
        <hr>
        <li>Select <a href="de05">DE05 Review and update operational activities</a></li>
        <hr>
        <li>Select <a href="de09">DE09 Establishing strong working relationships between UC full service sites and service centres</a></li>
        <hr>
        <li>Select <a href="dit06">DIT06 Access to electronic Habitual Residents Test (HRT)</a></li>
        <hr>
        <li>Select <a href="dps06">DPS06 Local authority support pack and business readiness cartificate</a></li>
        <hr>
        <li>Select <a href="dlc01">DLC01 Continuous improvement and learning escalation process (issues resolution)</a></li>
        <hr>
        <li>Select <a href="dit02">DIT02 Confirm access to UC full service systems and applications</a></li>
        <hr>
        <li>Confirm access to UC digital systems and application for remote staff</li>
        <hr>
        <li>Set up diaries in Booking Bug</li>
        <hr>
        <li>Confirm site readiness</li>
        <hr>
        <li>Review post go live</li>



















			</ul>

    </div>
  </div>
</main>
{% endblock %}
