{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Password<span class="font-small"><br>Modal window</span></h1>

			<ul class="list">
				<li>Enter password and select <a href="site-plan">OK</a></li>
        <hr>
        <li>Select <a href="site-plan">Read only</a></li>
        <hr>
        <li>Select <a href="folder">Cancel</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
