{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">People Preparation<span class="font-small"><br>/people-preparation/index.asp</span></h1>

			<ul class="list">
        <li>Select <a href="dpp01">Complete Learning Needs Analysis</a></li>
        <hr>
        <li>Select <a href="dpp02">Develop and Manage a Learning and Development Plan</a></li>
        <hr>
        <li>Select <a href="dpp03">Delivery of Learning & Development</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
