{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Site plan<span class="font-small"><br>Spreadsheet</span></h1>

			<ul class="list">
				<li>View plan content and timescales</li>
        <hr>
        <li>Update plan</li>
        <hr>
        <li><a href="folder">Save/close plan</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
