{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Delivery Partners and Stakeholders<span class="font-small"><br>/stakeholder/index.asp</span></h1>

			<ul class="list">
        <li>Select <a href="stakeholder-live">Jobcentre currently delivery live service UC</a></li>
        <hr>
        <li>Select <a href="stakeholder-not-live">Jobcentres not currently delivery UC</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
