{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Delivery Partners and Stakeholders<span class="font-small"><br>/stakeholder/DWP_T858380.asp</span></h1>

			<ul class="list">
        <li>Select <a href="dps01">Re-Negotiation of Delivery Partnership</a></li>
        <hr>
        <li>Select <a href="dps02">Engage with Delivery Partners and Stakeholders</a></li>
        <hr>
        <li>Select <a href="dps03">Engage with Employers</a></li>
        <hr>
        <li>Select <a href="dps04">Data Sharing Agreement</a></li>
        <hr>
        <li>Select <a href="dps06">Local Authority Support Pack and Business Readiness Certificate</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
