{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Jobcentres not currently delivery UC moving to UC full service<span class="font-small"><br>/stakeholder/DWP_T858054.asp</span></h1>

			<ul class="list">
        <li>Select <a href="dps01b">Locally Negotiated Delivery Partnership</a></li>
        <hr>
        <li>Select <a href="dps02b">Engage with Delivery Partners and Stakeholders</a></li>
        <hr>
        <li>Select <a href="dps03">Engage with Employers</a></li>
        <hr>
        <li>Select <a href="dps04b">Data Sharing Agreement</a></li>
        <hr>
        <li>Select <a href="dps06b">Local Authority Support Pack</a></li>
        <hr>
        <li>Select <a href="dps07b">Identify UC District Local Authority Lead</a></li>
        <hr>
        <li>Select <a href="dps08b">Activities to support the introduction of a Delivry Partnership</a></li>
        <hr>
        <li>Select <a href="dps09b">Obtain Local Authority Contact Details for Secure and Autiable Routeway Matrix</a></li>
        <hr>
        <li>Select <a href="dps10b">Local Authority Invoice and Payment Process</a></li>
        <hr>
        <li>Select <a href="dps11b">Local Authority Management Information Process</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
