{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Jobcentre System Access<span class="font-small"><br>/system-access/DWP_T862960.asp</span></h1>

			<ul class="list">
        <li>Select <a href="dit01">DIT01 Data Capture</a></li>
        <hr>
        <li>Select <a href="dit02">DIT02 Confirm Access to UC Full Service System, Mailboxes & Folders</a></li>
        <hr>
        <li>Select DIT03 Set up Diaries in Booking Bug and contingency</li>
        <hr>
        <li>Select <a href="dit06">Access to the Electronic Habitual Residency Test (e-HRT)</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
