{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">UC full service individual learning needs analysis<span class="font-small"><br>Screen</span></h1>

			<ul class="list">
        <li>Download zip files [[x4]]</li>
        <hr>
        <li>Select <a href="ucds-support">Return to the UC full service learning support site home page</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
