{% extends "layout_unbranded.html" %}

{% set userFlow = true %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Your UC full service learning<span class="font-small"><br>/hr/learning/support/dwp_t860938.asp</span></h1>

      <ul class="list">
        <li>EXIT - equivilant of navigating to a different website</li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
