{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Workforce planning<span class="font-small"><br>Screen</span></h1>

			<ul class="list">
        <li>Select <a href="jobcentre-workforce">Jobcentre workforce planning instructions</a></li>
        <hr>
        <li>Select <a href="service-workforce">Service centre workforce planning instructions</a></li>
			</ul>

    </div>
  </div>
</main>
{% endblock %}
