<ul class="list-user-input">

  {% for i in range(1, 11) -%}
    <li id="item-row-{{i}}" class="item-row {% if not loop.first and not answers['item' + i] %} js-hidden {% endif %}">

      <h2 class="heading-medium">Item {{i}} </h2>

      {% if not loop.first %}
        <a href="#" class="remove">Remove this</a>
      {% endif %}

      <fieldset>
        <div class="form-group">
          <label class="form-label" for="field-1">Name</label>
          <input type="text" class="form-control" id="field-1">
        </div>

        <div class="form-group">
          <label class="form-label" for="field-2">Job title</label>
          <input type="text" class="form-control" id="field-2">
        </div>

        <div class="form-group">
          <label class="form-label" for="field-3">Email address</label>
          <input type="text" class="form-control" id="field-3">
        </div>

        <div class="form-group">
          <label class="form-label" for="field-4">Office they work in</label>
          <input type="text" class="form-control" id="field-4">
        </div>
      </fieldset>

      <hr>

    </li>
  {% endfor %}

  <li class="form-group">
    <button href="add-another" class="button button-secondary add-another" data-target="item-row">Add another</button>
  </li>

</ul>
