<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      {% block inside_header %}{% endblock %}
    </div>
    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
          <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>
          <ul id="proposition-links">
            <li><a href="/user-flow/home">Home</a></li>
            <li><a href="/user-flow/news">Latest news archive</a></li>
            <li><a href="/user-flow/timeline">Timeline</a></li>
            <li><a href="/user-flow/communications">Communications</a></li>
            <li><a href="/user-flow/leadership">Leadership</a></li>
            <li><a href="/user-flow/delivery">Delivery partners and stakeholders</a></li>
            <li><a href="/user-flow/workforce">Workforce</a></li>
            <li><a href="/user-flow/system-access">System access</a></li>
            <li><a href="/user-flow/cil">CIL</a></li>
            <li><a href="/user-flow/site-preperation">Site preperation</a></li>
            <li><a href="/user-flow/people-preperation">People preperation</a></li>
            <li><a href="/user-flow/guidance">Guidance</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
