// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Things that *should* be in base.scss
body {
  border-top: 2px solid $black;
}
img {
  max-width: 100%;
  height: auto;
}

// Secondary button
.button-secondary {
  @include button($grey-3);
}

// DDP styles
hr {
  display: block;
  background: none;
  border-top: 1px dashed #bfc1c3;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
}
.phase-tag-live {
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  @include bold-16($line-height: 20 / 16);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: $white;
  background-color: $grass-green;
}

// Timeline styles
#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  height: 100%;
  width: 5px;
  background-color: $grey-3;
}
.timeline-block {
  margin-bottom: 60px;
  border: 5px solid $white;
  position: relative;
  z-index: 2;
}
.timeline-date {
  position: absolute;
  top: -30px;
  left: 10px;
}
.timeline-content a {
  padding: 15px 15px 0px 15px;
  border: 1px solid $grey-2;
  background-color: $grey-4;
  box-sizing: border-box;
  display: block;
}
.timeline-content.done a {
  border-left: 5px solid $govuk-blue;
}
.timeline-content.new a {
  border-left: 5px solid $grass-green;
}
.timeline-content.started a {
  border-left: 5px solid $yellow;
}
.timeline-content.overdue a {
  border-left: 5px solid $red;
}
