{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          On track (27% complete)
        </span>
        Leeds Eastgate
      </h1>

      <table>
		    <tbody>
          <tr style="border-top:1px solid #bfc1c3;">
		        <td>16 May 2016</td>
		        <td class="bold-small"><a href=""><a href="">Conduct site start-up meeting</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
		      <tr>
		        <td>23 May 2016</td>
		        <td class="bold-small"><a href="">DLP01 Leadership event 1</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
          <tr>
            <td>28 May 2016</td>
            <td class="bold-small"><a href="">DO01 Identification and notification of staff</a></td>
            <td class="phase-tag-live">Green</td>
          </tr>
          <tr>
		        <td>1 June 2016</td>
		        <td class="bold-small"><a href="">DPP01 Complete learning needs analysis</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
          <tr>
		        <td>3 June 2016</td>
		        <td class="bold-small"><a href="">DE03 Local trade union engagemnt</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
          <tr>
            <td>5 June 2016</td>
            <td class="bold-small"><a href="">DE04 Sites requirements visit (visual identity)</a></td>
            <td class="phase-tag-live">Green</td>
          </tr>
          <tr>
		        <td>8 June 2016</td>
		        <td class="bold-small"><a href="">DPS01 Renegotiation of delivery partnership</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
          <tr>
		        <td>10 June 2016</td>
		        <td class="bold-small"><a href="">DPP02 Develop and manage a learning and development plan</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
          <tr>
		        <td>12 June 2016</td>
		        <td class="bold-small"><a href="">DPP03 Undertake learning and development</a></td>
            <td class="phase-tag-live">Green</td>
		      </tr>
		    </tbody>
		  </table>

    </div>
  </div>
</main>

{% endblock %}
