{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">
          Timeline
        </span>
        Leeds Eastgate
      </h1>

      <section id="timeline">
      	<div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              16 May
            </p>
          </div>
      		<div class="timeline-content done">
            <a href="#">
              <p class="bold-medium">
                Conduct site start-up meeting
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              23 May
            </p>
          </div>
      		<div class="timeline-content done">
            <a href="#">
              <p class="bold-medium">
                DLP01 Leadership event 1
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              28 May
            </p>
          </div>
      		<div class="timeline-content overdue">
            <a href="#">
              <p class="bold-medium">
                DO01 Identification and notification of staff
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              1 June
            </p>
          </div>
      		<div class="timeline-content started">
            <a href="#">
              <p class="bold-medium">
                DPP01 Complete learning needs analysis
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              3 June
            </p>
          </div>
      		<div class="timeline-content started">
            <a href="#">
              <p class="bold-medium">
                DE03 Local trade union engagemnt
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              5 June
            </p>
          </div>
      		<div class="timeline-content new">
            <a href="#">
              <p class="bold-medium">
                DE04 Sites requirements visit (visual identity)
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              8 June
            </p>
          </div>
      		<div class="timeline-content new">
            <a href="#">
              <p class="bold-medium">
                DPS01 Renegotiation of delivery partnership
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              10 June
            </p>
          </div>
      		<div class="timeline-content new">
            <a href="#">
              <p class="bold-medium">
                DPP02 Develop and manage a learning and development plan
              </p>
            </a>
      		</div>
      	</div>
        <div class="timeline-block">
          <div class="timeline-date">
            <p class="font-xsmall text-secondary">
              12 June
            </p>
          </div>
      		<div class="timeline-content new">
            <a href="#">
              <p class="bold-medium">
                DPP03 Undertake learning and development
              </p>
            </a>
      		</div>
      	</div>
      </section>

    </div>
  </div>
</main>

{% endblock %}
