{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
		<section class="column-quarter">
			<div class="tag done">Done</div>
			<div class="big_number txt-done">24</div>
		</section>
		<section class="column-quarter">
			<div class="tag risk">At risk</div>
			<div class="big_number txt-risk">2</div>
		</section>
		<section class="column-quarter">
			<div class="tag mitigation">Behind but OK</div>
			<div class="big_number txt-mitigation">2</div>
		</section>
		<section class="column-quarter">
			<div class="tag">On track</div>
			<div class="big_number">10</div>
		</section>
	</div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="overview">View all sites</a>

      <h1 class="heading-xlarge">Harrogate</h1>

      <h2 class="heading-large">Completed items</h2>

      You have things <a href="todo">to-do</a> now.

      <ul class="todo detailed">
        <li class="done">
          <a href="#">
            Site start-up meeting <span>Completed 2 February 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Identify site SPOC <span>Completed 2 February 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Leadership event 1 <span>Completed 7 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Identification and notification of staff <span>Completed 9 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Leadership event 2 <span>Completed 7 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Identify a site support <span>Completed 15 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Complete learning needs analysis <span>Completed 22 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Site requirements visit <span>Completed 29 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Update locally negotiated delivery <span>Completed 13 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Develop and manage a learning and development plan <span>Completed 16 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Local trade union engagement <span>Completed 20 March 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Conduct security review <span>Completed 13 April 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Review site business continuity plan <span>Completed 20 April 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Review site H&S risk assessment <span>Completed 13 April 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Data capture <span>Completed 19 April 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Undertake learning and development <span>Completed 21 June 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            WiFi capacity and coverage <span>Completed 21 June 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Data sharing agreemnet <span>Completed 13 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Social landlord email addresses gathered and passed to programme <span>Completed 27 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Access to management information <span>Completed 16 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Engage with employers <span>Completed 13 May 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Access to e-HRT <span>Completed 14 June 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Continuous improvement and learning escalation process <span>Completed 28 June 2016</span>
          </a>
        </li>
        <li class="done">
          <a href="#">
            Confirm access to systems and applications <span>Completed 21 June 2016</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
