{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Check the progress of a site</h1>

      <h2 class="heading-medium">
        <a href="todo">
          Rydale
        </a>
      </h2>

      <p>Go live 14 August 2016</p>

      <div class="grid-row">
        <section class="column-quarter">
          <div class="tag done font-xsmall">Done</div>
          <div class="medium_number txt-done">22</div>
        </section>
        <section class="column-quarter">
          <div class="tag risk font-xsmall">At risk</div>
          <div class="medium_number txt-risk">0</div>
        </section>
        <section class="column-quarter">
          <div class="tag mitigation font-xsmall">Behind</div>
          <div class="medium_number txt-mitigation">4</div>
        </section>
        <section class="column-quarter">
          <div class="tag font-xsmall">On track</div>
          <div class="medium_number">12</div>
        </section>
      </div>

      <hr>

      <h2 class="heading-medium">
        <a href="todo">
          Harrogate
        </a>
      </h2>

      <p>Go live 14 August 2016</p>

      <div class="panel panel-border-wide alert-warning">
        <p>An identfied staff member is on long term sick</p>
      </div>
      <div class="panel panel-border-wide alert-warning">
        <p>All staff have still not received their sign in details after 4 weeks</p>
      </div>

      <div class="grid-row">
        <section class="column-quarter">
          <div class="tag done font-xsmall">Done</div>
          <div class="medium_number txt-done">24</div>
        </section>
        <section class="column-quarter">
          <div class="tag risk font-xsmall">At risk</div>
          <div class="medium_number txt-risk">2</div>
        </section>
        <section class="column-quarter">
          <div class="tag mitigation font-xsmall">Behind</div>
          <div class="medium_number txt-mitigation">2</div>
        </section>
        <section class="column-quarter">
          <div class="tag font-xsmall">On track</div>
          <div class="medium_number">10</div>
        </section>
      </div>

      <hr>

      <h2 class="heading-medium">
        <a href="todo">
          Richmond
        </a>
      </h2>

      <p>Go live 14 August 2016</p>

      <div class="grid-row">
        <section class="column-quarter">
          <div class="tag done font-xsmall">Done</div>
          <div class="medium_number txt-done">30</div>
        </section>
        <section class="column-quarter">
          <div class="tag risk font-xsmall">At risk</div>
          <div class="medium_number txt-risk">0</div>
        </section>
        <section class="column-quarter">
          <div class="tag mitigation font-xsmall">Behind</div>
          <div class="medium_number txt-mitigation">0</div>
        </section>
        <section class="column-quarter">
          <div class="tag font-xsmall">On track</div>
          <div class="medium_number">8</div>
        </section>
      </div>

      <hr>

    </div>
  </div>
</main>

{% endblock %}
