{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="todo">Back</a>

      <h1 class="heading-large">
        Site start-up meeting
      </h1>

      <p class="lede">
      </p>

      <p>
      </p>

      <h2 class="heading-medium">
        Checklist
      </h2>

      <form action="todo-complete-2" method="" class="form">

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Checklist</legend>

            <label for="step__1" class="block-label">
              <input type="checkbox" name="step__1" value="Done" id="step__1" checked>
              I’ve given the details of all staff that need access
            </label>

            <label for="step__2" class="block-label">
              <input type="checkbox" name="step__2" value="Done" id="step__2">
              Everyone I’ve requested access for has been emailed their sign in details
            </label>

            <label for="step__3" class="block-label">
              <input type="checkbox" name="step__3" value="Done" id="step__3">
              I’ve read and understood the <a href="#">User Access Control Policy</a>
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Complete">
        </div>

      </form>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Need help</h2>
        <a class="button button-issue" href="raise-issue">Raise issue</a>
      </aside>

    </div>
  </div>
</main>

{% endblock %}
