{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight">
				<h1 class="bold-large">You have completed</h1>
        <p>Hold a start up event</p>
			</div>

      <h2 class="heading-medium">
        What happens next
      </h2>

      <p>
        We recommend you
        <a href="overview">
          start task two
        </a>.
      </p>

		</div>
	</div>
</main>

{% endblock %}
