{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
		<section class="column-quarter">
			<div class="tag done">Done</div>
			<div class="big_number txt-done">0</div>
		</section>
		<section class="column-quarter">
			<div class="tag risk">At risk</div>
			<div class="big_number txt-risk">0</div>
		</section>
		<section class="column-quarter">
			<div class="tag mitigation">Behind but OK</div>
			<div class="big_number txt-mitigation">0</div>
		</section>
		<section class="column-quarter">
			<div class="tag">On track</div>
			<div class="big_number">38</div>
		</section>
	</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Harrogate</h1>

      <h2 class="heading-large">Things to-do now</h2>

      Completed items appear in your <a href="#">journal</a>.

      <ul class="todo">
        <li>
          <a href="site-startup-meeting">
            Site start-up meeting <span>Due 2 February 2016</span>
          </a>
        </li>
      </ul>

      <h2 class="heading-large">Things to-do later</h2>

      <ul class="todo">
        <li class="dependencies">
          <a href="">
            Identify site SPOC <span>Due 2 February 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Leadership event 1 <span>Due 7 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Identification and notification of staff <span>Due 7 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Leadership event 2 <span>Due 7 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Identify a site support <span>Due 15 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Complete learning needs analysis <span>Due 15 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Site requirements visit <span>Due 15 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Update locally negotiated delivery <span>Due 16 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Develop and manage a learning and development plan <span>Due 16 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Local trade union engagement <span>Due 20 March 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Conduct security review <span>Due 13 April 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Review site business continuity plan <span>Due 20 April 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Review site H&S risk assessment <span>Due 20 April 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Data capture <span>Due 20 April 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Undertake learning and development <span>Due 21 April 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            WiFi capacity and coverage <span>Due 13 May 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Data sharing agreemnet <span>Due 13 May 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Social landlord email addresses gathered and passed to programme <span>Due 16 May 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Access to management information <span>Due 16 May 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Engage with employers <span>Due 16 May 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Access to e-HRT <span>Due 1 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Continuous improvement and learning escalation process <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Confirm access to systems and applications <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="organise-staffing">
            Organise staffing <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Quality assurance framework <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="get-access-to-management-information">
            Get access to management information <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Local authority internet and digital support provision <span>Due 14 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="set-up-systems-access">
            Set up systems access <span>Due 21 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
          Engage with delivery partners and stakeholders and social landlords <span>Due 21 June 2016</span>
        </li>
        <li class="dependencies">
          <a href="">
            Local authority support pack and business readiness certificate <span>Due 21 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Revisit learning needs analysis <span>Due 21 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Review and update operational activities <span>Due 28 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
          Site requirements visit <span>Due 28 June 2016</span>
        </li>
        <li class="dependencies">
          <a href="">
            Liaise with linked service centres <span>Due 28 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Set up diaries in Booking Bug <span>Due 28 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Site readiness confirmed <span>Due 28 June 2016</span>
          </a>
        </li>
        <li class="dependencies">
          <a href="">
            Post go live review <span>Due 16 August 2016</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="column-third">
      <a style="color:white;float:right;" href="todo">>></a>
    </div>
  </div>
</main>

{% endblock %}
