{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">User flow</h1>

      <p class="lede">What are the entry points to the service?</p>

			<ul class="list list-bullet">
				<li><a href="/user-flow/home">Direct link</a></li>
        <li><a href="/user-flow/home">Email link</a></li>
        <li><a href="/user-flow/home">Desktop shortcut</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
