{% extends "layout_unbranded.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Things to do before you go live</h1>

      <a class="button" href="/v2/todo">Start now</a>

      <hr>

      <p>
        Use <a href="/v1/todo"> prototype version 1</a>.
      </p>

      <hr>

      <p>
        View the <a href="/user-flow/">discovery flow</a> of the current platform.
      </p>

    </div>
  </div>
</main>

{% endblock %}
